<!-- Agenda -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row about-details">
                <h5> Agenda Bientôt disponible </h5>
                <div class="example">
                    <div class="countdown" data-role="countdown" data-blink="false" style="font-size: 40px;"></div>
                    <div class="countdown inverse" data-role="countdown"></div>
                    <div class="countdown" data-role="countdown" data-style-background="bg-lightBlue"></div>
                    <div class="countdown" data-role="countdown" data-style-background="bg-teal" data-style-foreground="fg-yellow" data-style-divider="fg-red"></div>
                    <div class="countdown" data-role="countdown" data-stoptimer="2014-11-09 12:00"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Agenda Section -->
