<!-- Hackaton -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row about-details">
          
                <div class="example-blocks">
                  C’est à l'origine un rassemblement de développeurs organisés par équipe ou de façon individuel avec l’objectif de produire un prototype d’application en quelques heures. 

                  Bientôt, les inscriptions..... Restez donc à l'écoute !!!!
                </div>

            </div>
        </div>
    </div>
</section>