<!-- Begin Top Section -->
<section id="top-section-hero" style="background-image: url('{{ site.baseurl }}/img/hero.jpg');">

    {% include navigation.html %}

    <div class="jumbotron">
        <svg class="svggraph-hero" version="1.1" baseProfile="tiny" id="gdgplayground-svgboomerang" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 77.5 131.7" xml:space="preserve">
            <image class="svgimg" width="308" height="531" xlink:href="img/gdgplayground-code-boomerang.png" transform="matrix(0.24 0 0 0.24 1.8251 1.9006)">
            </image>
            <g>
            <path class="svgpath" stroke="#FCC630" d="M54.5 94.1c1.7 2.7 1.7 7.1 0.3 10l-12.2 20.3c-1.8 3-6 5.4-9.4 5.4H18.7l28.7-47.6L54.5 94.1z" fill="none"></path>
            <path class="svgpath" stroke="#009966" d="M34.2 60.5c1.8 2.9 1.8 7.8 0 10.7L2 125c-1.2 2.7 0.1 4.8 3.3 4.8h13.4l28.7-47.6L34.2 60.5z" fill="none"></path>
            <path class="svgpath" stroke="#5070AF" d="M18.7 1.9L67.5 83l-12.7 21.2c1.4-3 1.4-7.3-0.3-10L2.3 7.3c-1.8-2.9-0.4-5.4 3-5.4H18.7z" fill="none"></path>
            <path class="svgpath" stroke="#D52B27" d="M74.6 60.5l-32-53.3c-1.8-2.9-6-5.4-9.4-5.4H18.7L67.5 83l7.1-11.8C76.4 68.3 76.4 63.4 74.6 60.5z" fill="none"></path>
            </g>
        </svg>
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h1>GDG DevFest <span id="typeout-text"></span> 2014</h1>
            <p>{{site.eventDate}}</p>
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                <a href="{{ site.c4pUrl }}" target="_blank">Devenir un Speaker</a>
            </span>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
</section>
<!-- End Top Section -->