<!-- Inscription -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row about-details">
                <h5> Formulaire d'inscription disponible dans :</h5>
                <div class="wrapper">
                  <div class="cell">
                    <div id="holder">
                      <div class="digits"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inscription Section -->
