<!-- Inscription -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Inscription {{site.eventName}}</h3>
            <div class="row about-details">
                <h5> Formulaire d'inscription disponible dans :</h5>
                <div class="wrapper">
                  <div class="cell">
                    <div id="holder">
                      <div class="digits"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
      $(function(){
        $(".digits").countdown({
          image: "img/digits.png",
          format: "dd:hh:mm:ss",
          endTime: new Date(2014, 11, 20)
        });
      });
    </script>
<!-- End Inscription Section -->
