<!-- Inscription -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row about-details">
                <h5> Formulaire d'inscription disponible :</h5>
                <div class="wrapper">
                  <div class="cell">
                    <div id="holder">
                      <div class="digits">
                          <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                              <a href="{{ site.c4pUrl }}" target="_blank">S'inscrire</a>
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Inscription Section -->
