<!DOCTYPE html>
<html lang="{{ site.locale }}" itemscope itemtype="http://schema.org/Blog">
<head>
    
</head>

<body>
<div id="preloader">
        <div class="loader-gplus"></div>
    </div>

    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }} 

                {% include footer.html %}

            </div>
        </div>
    </div>

    {% include analytics.html %}


{% if page.slug != "start-screen" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endif %}    

{% if page.slug == "test-page" %}
    <style>
        .grid .row [class*="span"] {padding: 20px; text-align: right}
    </style>
{% endif %}
{% if page.slug != "template-news-portal" %}
    <link href="{{ site.baseurl }}/css/docs.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/js/prettify/prettify.css" rel="stylesheet">
{% endif %}

    <!-- Load JavaScript Libraries -->
    <script src="{{ site.baseurl }}/js/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery/jquery.widget.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery/jquery.mousewheel.js"></script>

    <script src="{{ site.baseurl }}/js/prettify/prettify.js"></script>

    <!-- Metro UI CSS JavaScript plugins -->
    <script src="{{ site.baseurl }}/js/metro.min.js"></script>
{% if page.slug != "template-news-portal" %}
    <!-- Local JavaScript -->
    <script src="{{ site.baseurl }}/js/docs.js"></script>
    <script src="{{ site.baseurl }}/js/github.info.js"></script>
{% endif %}
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- jQuery local fallback -->
    <script>
    window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS local fallback -->
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
    }
    </script>
    <script src="{{ "/js/jquery.appear.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/waves.min.js" | prepend: site.baseurl }}"></script>
    <script>
    $(document).ready(function() {
        var bodyColor = $('body').css('color');
        if (bodyColor != 'rgb(51, 51, 51)') {
            $("head").prepend('<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">');
        }
    });
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
</body>
</html>
